<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <!--Barra desplegable de marcas -->
            <label class="edicionChooseBrands" for="brands">
                <select class="rrr" name="brands" id="brands">
                    <!-- <option value="ORIGINALS">ORIGINALS</option>
                    <option value="BASICS">BASICS</option> -->
                    <option value="TODAS">TODAS LAS MARCAS</option>
                </select>
            </label>

            <!--sección para mostrar ptoductos-->
            <main classs="edicionGroupProducts">
                <!--encabezado zona de productos-->
                <div class="edicionContainer1">
                    <h2 class="edicionMediaTitle">
                        PRODUCTOS
                    </h2>
                </div>

                <div class="edicionProductHeader">
                    <h3>PRODUCTO</h3>
                    <h3>PRECIO</h3>
                </div>

                <section class="edicionProducts">
                    <%productDatabase.forEach(product =>{%>
                        <% console.log(productDatabase) %> 
                        <article class="edicionProduct">
                            <div class="edicionImageCard">
                                <img class="img-card" src="/public/productImages/<%=product.productImage%>" alt="Prenda Vestir">
                            </div>
                            <div class="edicionDescrition">
                                <p class="product"><%=product.name%></p>
                                <a class="edicionBContainer" href="/products/productEdition">
                                    <button class="edicionB"><i class="fa-solid fa-pencil"></i>Editar</button>
                                </a>
                            </div>
                            <div class="edicionPrice">
                                <p class="price">$<%=product.price%></p>
                                <form action="" method="POST">
                                    <button class="edicionB" type="submit"><i class="fa-solid fa-trash-can"></i>
                                        Eliminar</button>
                                </form>
                            </div>
                        </article>
                        <%})%>
                </section>
                <!--botón para agregar productos-->
                <div class="addZone">
                    <a class="addButtonContainer" href="/products/newProduct">
                        <button class="addButton"><i class="fa-solid fa-shirt"></i> Agregar Producto</button>
                    </a>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>