<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main class="mainSubmarcas">
                <div class="gender">
                    <button class="btn-man">Hombre</button>
                    <button class="btn-women">Mujer</button>
                </div>

                <p class="filter-products">Ordenar por</p>
                <div class="filter-price">
                    <button class="name">Nombre</button>
                    <button class="filter-price-less">Precio menor a mayor</button>
                    <button class="filter-price-more">Precio mayor a menor</button>
                </div>
                <div class="cards">
                    <!--editando para sprint 4------------------------------------------------------------->
                    <%for(let i=0;i<original.length;i++){%>
                    <a class="plink" href="/products/producto">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/1.png" alt="Prenda Vestir">
                            <div class="description">
                              <p class="price"><%= original[i].price %></p>
                                <p class="product"><%=original[i].name%></p>
                            </div>
                        </div>
                    </a>
                    <%}%>

                    <!--editando para sprint 4------------------------------------------------------------->

                    <!-- <a class="plink" href="/products/producto">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/2.png" alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$115.000</p>
                                <p class="product">Sudadera Thermal</p>
                            </div>
                        </div>
                    </a>

                    <a class="plink" href="/products/producto">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/3.png" alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$100.000</p>
                                <p class="product">Hoodie Thermal</p>
                            </div>
                        </div>
                    </a>

                    <a class="plink" href="/products/producto">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/4.png" alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$100.000</p>
                                <p class="product">Crewneck Thermal</p>
                            </div>
                        </div>
                    </a>

                    <a class="plink" href="/products/producto">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/5.png" alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$100.000</p>
                                <p class="product">Pañoleta Thermal</p>
                            </div>
                        </div>
                    </a>

                    <a class="plink" href="/products/producto">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/6.png" alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$100.000</p>
                                <p class="product">Camiseta Negra</p>
                            </div>
                        </div>
                    </a>

                    <a class="plink" href="/products/producto">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/7.png" alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$100.000</p>
                                <p class="product">Camiseta Negra</p>
                            </div>
                        </div>
                    </a>

                    <a class="plink" href="/products/producto">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/8.png" alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$100.000</p>
                                <p class="product">Camiseta Negra</p>
                            </div>
                        </div>
                    </a> -->
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>
