<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <!--Barra desplegable de marcas -->
            <label class="edicionChooseBrands" for="brands">
                <select class="rrr" name="brands" id="brands">
                    <option value="ORIGINALS">ORIGINALS</option>
                    <option value="BASICS">BASICS</option>
                </select>
            </label>

            <!--sección para mostrar ptoductos-->
            <main classs="edicionGroupProducts">
                <!--encabezado zona de productos-->
                <div class="edicionContainer1">
                    <h2 class="edicionMediaTitle">
                        PRODUCTOS
                    </h2>
                </div>

                <div class="edicionProductHeader">
                    <h3>PRODUCTO</h3>
                    <h3>PRECIO</h3>
                </div>

                <section class="edicionProducts">
                    <%for(let i=0;i<original.length;i++){%>
                        <article class="edicionProduct">
                            <div class="edicionImageCard">
                                <img class="img-card" src="/images/<%=original[i].image%>" alt="Prenda Vestir">
                            </div>
                            <div class="edicionDescrition">
                                <p class="product">
                                    <%=original[i].name%>
                                </p>
                                <a class="edicionBContainer" href="/products/crear">
                                    <button class="edicionB"><i class="fa-solid fa-pencil"></i>Editar</button>
                                </a>
                            </div>
                            <div class="edicionPrice">
                                <p class="price">$<%= original[i].price %>
                                </p>
                                <button class="edicionB"><i class="fa-solid fa-trash-can"></i> Eliminar</button>
                            </div>
                        </article>
                        <%}%>
                </section>
                <!--botón para agregar productos-->
                <div class="addZone">
                    <a class="addButtonContainer" href="/products/crear">
                        <button class="addButton"><i class="fa-solid fa-shirt"></i> Agregar Producto</button>
                    </a>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>