<%- include('../partials/head') %>
<link rel="stylesheet" href="/public/css/home.css">
    <body>

            <!-- ------------aquí está contenida la imagen principal-------------- -->
            <section class="ImageContainer">
                <%- include('../partials/header') %>
                <div class="image">
                    <nav classs="principal">
                        <ul class="ChooseCollection">
                            <li><a class="collections" href="/products/brandOriginal">TEAL <br> ORIGINAL</a></li>
                            <li><a class="collections" href="/aboutUs">TEAL <br> GROUP</a></li>
                            <li><a class="collections" href="/products/brandBasics">TEAL <br> BASICS</a></li>
                        </ul>
                    </nav>
                </div>
            </section>


            <section class="FeaturedProducts">
                <div class="TitleContainer">
                    <h2 class="SectionTitle">
                        PRODUCTOS DESTACADOS
                    </h2>
                </div>
                <div class="cards">
                  <%for(let i=0;i<featuredProducts.length;i++){%>
                    <a class="plink" href="/products/productDetail/<%=featuredProducts[i].id%>">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/images/<%=featuredProducts[i].image%>" alt="Prenda Vestir">
                            <div class="description">
                              <p class="price">$<%= featuredProducts[i].price %></p>
                                <p class="product"><%=featuredProducts[i].name%></p>
                            </div>
                        </div>
                    </a>
                    <%}%>
                </div>
            </section>
            <%- include('../partials/footerHome') %>
    </body>


    </html>
