<%- include('../partials/head') %>
    <link rel="stylesheet" href="/public/css/home.css">

    <body>

        <!-- ------------aquí está contenida la imagen principal-------------- -->
        <section class="ImageContainer">

            <%- include('../partials/header') %>
                <!--imagen de usuario dinámica------------------------------------------------>
                <div class="homeContainerProfile">
                    <input class="menu-profile" type="checkbox" id="menu-profile">
                    <label for="menu-profile">
                        <img class="profile"
                            src="<% if(homeDynamicObject[0].image==undefined){%> /images/user.png <% }else{ %>  <%= homeDynamicObject[0].image %> <% } %> "
                            alt="Perfil usuario">
                        <% if(homeDynamicObject[0].logged){%>
                            <ul >
                                <li>
                                    <a href="/products/adminProducts" class="menu-profile__option">EDITAR PRODUCTOS</a>
                                </li>
                                <li>
                                    <a href="/userDetail" class="menu-profile__option">PERFIL</a>
                                </li>
                                <li>
                                    <a href="/passwordUpdate" class="menu-profile__option">EDITAR CONTRASEÑA</a>
                                </li>
                                <li>
                                    <a href="/closeSession" class="menu-profile__option">CERRAR SESIÓN</a>
                                </li>
                            </ul>
                            <% } %>
                    </label>
                    <a href="<% if(homeDynamicObject[0].logged==true){ %> /userDetail <% } else{ %>  /login  <% } %>"
                        class="star">
                        <% if(homeDynamicObject[0].logged==true){ %>
                            <%= homeDynamicObject[0].name %>
                                <% } else{ %> INICIAR SESIÓN <% } %>
                    </a>
                </div>
                <div class="image">
                    <nav classs="principal">
                        <ul class="ChooseCollection">
                            <li><a class="collections" href="/products/brandOriginal">TEAL <br> ORIGINAL</a></li>
                            <li><a class="collections" href="/aboutUs">TEAL <br> GROUP</a></li>
                            <li><a class="collections" href="/products/brandBasics">TEAL <br> BASICS</a></li>
                        </ul>
                    </nav>
                </div>
        </section>

        <section class="FeaturedProducts">
            <div class="TitleContainer">
                <h2 class="SectionTitle">
                    PRODUCTOS DESTACADOS
                </h2>
            </div>
            <div class="cards">

                <%for(let i=1;i<homeDynamicObject.length;i++){%>
                    <a class="plink" href="/products/productDetail/<%=homeDynamicObject[i].id%>">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/productImages/<%=homeDynamicObject[i].image%>"
                                alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$<%= homeDynamicObject[i].price %>
                                </p>
                                <p class="product">
                                    <%=homeDynamicObject[i].name%>
                                </p>
                            </div>
                        </div>
                    </a>
                    <%}%>
            </div>
        </section>
        <%- include('../partials/footerHome') %>
    </body>


    </html>