<%- include('../partials/head') %>
<link rel="stylesheet" href="/public/css/home.css">
    <body>

            <!-- ------------aquí está contenida la imagen principal-------------- -->
            <section class="ImageContainer">
                <%- include('../partials/header') %>
                <div class="image">
                    <nav classs="principal">
                        <ul class="ChooseCollection">
                            <li><a class="collections" href="/products/brandOriginal">TEAL <br> ORIGINAL</a></li>
                            <li><a class="collections" href="/aboutUs">TEAL <br> GROUP</a></li>
                            <li><a class="collections" href="/products/brandBasics">TEAL <br> BASICS</a></li>
                        </ul>
                    </nav>
                </div>
            </section>

            //esto es lo que estamos explotaando------------------------------------------------
            <% let profileImage = homeDynamicObject[0]; %>
            <% homeDynamicObject.shift(); %>
            <label for="menu-profile">
              <img class="profile" src="<%= profileImage.image %>" alt="Perfil usuario">
          </label>
          <a  href="/login" class="star">INICIAR SESIÓN</a>
          //------------------------------------------------------------------------------------


          <section class="FeaturedProducts">
            <div class="TitleContainer">
                <h2 class="SectionTitle">
                    PRODUCTOS DESTACADOS
                </h2>
            </div>
            <div class="cards">
              <%for(let i=0;i<homeDynamicObject.length;i++){%>
                <a class="plink" href="/products/productDetail/<%=homeDynamicObject[i].id%>">
                    <div class="card">
                        <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                        <img class="img-card" src="/productImages/<%=homeDynamicObject[i].image%>" alt="Prenda Vestir">
                        <div class="description">
                          <p class="price">$<%= homeDynamicObject[i].price %></p>
                            <p class="product"><%=homeDynamicObject[i].name%></p>
                        </div>
                    </div>
                </a>
                <%}%>
            </div>
        </section>
            <%- include('../partials/footerHome') %>
    </body>


    </html>
