<%- include('../partials/head') %>
    <link rel="stylesheet" href="/public/css/home.css">

    <body>
        <!-- ------------aquí está contenida la imagen principal-------------- -->
        <section class="ImageContainer">
        <%- include('../partials/header') %>
                <!--imagen de usuario dinámica------------------------------------------------>
                <div class="homeContainerProfile">
                    <input class="menu-profile" type="checkbox" id="menu-profile">
                    <label for="menu-profile">
                        <div>
                          <!-- imagen de usuario -->
                          <img class="profile" src="/userImages/<%= userImage.userImage %> " alt="userImage">
                        </div>
                      </label>
                      <div>
                        <a <% if(userImage.userImage=='empty.png'){ %> href="/login" <% }else{ %> href="/userDetail" <% } %> class="star"><%= userImage.fullName %> </a>
                    </div>
                      <ul class="nav" <% if(userImage.userImage=='empty.png'){ %> style=display:none <% } %> )>
                        <li>
                          <a href="/userDetail" class="menu-profile__option">PERFIL</a>
                        </li>
                        <li>
                          <a href="/passwordUpdate" class="menu-profile__option">EDITAR CONTRASEÑA</a>
                        </li>
                        <li>
                          <form action="/closeSession" method="POST">
                            <input type="submit" value="CERRAR SESIÓN" class="menu-profile__option button-close_session">
                          </form>
                        </li>
                      </ul>
                    </div>
                      <ul class="nav">
                        <li>
                          <a href="/userDetail" class="menu-profile__option">PERFIL</a>
                        </li>
                        <li>
                          <a href="/passwordUpdate" class="menu-profile__option">EDITAR CONTRASEÑA</a>
                        </li>
                        <li>
                          <form action="/closeSession" method="POST">
                            <input type="submit" value="CERRAR SESIÓN" class="menu-profile__option button-close_session">
                          </form>
                        </li>
                      </ul>
                    </div>

                <main class="main">
                    <div class="image">
                        <nav classs="principal">
                            <ul class="ChooseCollection">
                                <li><a class="collections" href="/products/brandOriginal">TEAL <br> ORIGINAL</a></li>
                                <li><a class="collections" href="/products/aboutUs">TEAL <br> GROUP</a></li>
                                <li><a class="collections" href="/products/brandBasics">TEAL <br> BASICS</a></li>
                            </ul>
                        </nav>
                    </div>
            </section>

            <section class="FeaturedProducts">
                <div class="TitleContainer">
                    <h2 class="SectionTitle">
                        PRODUCTOS DESTACADOS
                    </h2>
                </div>
                <div class="cards">
                    <%featuredProducts.forEach(product=>{%>
                        <a class="plink" href="/products/productDetail/<%=product.id %>">
                            <div class="card">
                                <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                                <img class="img-card" src="/productImages/<%=product.productImage%>"
                                    alt="Prenda Vestir">
                                <div class="description">
                                    <p class="price">$<%=product.price%>
                                    </p>
                                    <p class="product">
                                        <%=product.name%>
                                    </p>
                                </div>
                            </div>
                        </a>
                </div>
                <%})%>
            </section>

            <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active"  data-bs-interval="2000">
                  <img src=https://uca895f33d9d1020c2852ec65709.previews.dropboxusercontent.com/p/thumb/ABwek6WNcrB71TgQr8uDqsyTWZc_TdhNFZyC0Sv0yqQj71RTZKgJkEzH1THUx98_XRnqEMDu4U_viIW6JywIxYByB9R-E4gnqep4a1Q_RUKboyT76VjyMWl0EF4Bu8wpxqxLDlM553_nV1rc-C4iPPl1pHYg4uGEcyTted5zV4WKzAnQIJ9I6SK5BabsoiYl3LWPKig00UQ7YHdjtmIu2DOpQmMqM56KkffrSiH4E5xBJnGu3DHvjup-ND7nYy3U2Ft9tfpuMxJ7B-3BKvPs2AN_0nWujAc7hAZ9ww_QS7svG3oCI1__dRsVz0c_XOgM31ylMkwz99yRfOfQum3BubzqfIoZp5t5PSp9oo_NG_LyumSgUdraU8ZIq9Gbo-w8GEI/p.jpeg
                    class="d-block w-100" alt="..."  height="200px">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src=https://ucc5efa3113e17f658a0d019c010.previews.dropboxusercontent.com/p/thumb/ABzS-8PazahHK45WOzvBFzUQJcupkXsgQPZ8jwVCV1PeRqAFWJYx-4NXLIhWZbDiGAo5qhK1DoRnzCKf_eNHfsFnmp95KRwO_x9U68GEdDCmUAwEOIB5xoOeoOJlg9V4ebmh8dSsU03EwBPtRbBpQwaTO6bsk7qEOmwdpPO1HACRU_edbeAY92HuGU98YcUc90owDVAFwkM5b_YPIUr-0NdngP95VkmlReiqD5rVKljfZFINZV3zzkemxfUcq4YBr-5ffACZuf3Jh3b6CXKfw3MMcOOJigLzNk3yI7zZg4cvfKQaNAMMjnpOXE6WdASpmIFPUw51fvi71USNfQIdGoDw-bDak_2fRLOsF7Shjutnk5iHI_xPGNtIxSP6Du4G7pCOxPDiTd5RAuf57pO5klFo8dfksmaFhnC8gZ1scBS9p4fFMlP_IifdDdGu8F7atck/p.png
                    class="d-block w-100" alt="..."  height="200px">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src=https://uc034e0de6c03060aca519d02f1d.previews.dropboxusercontent.com/p/thumb/ABzkQaOVS_pH3Xmm8AV_Y6DChrNqh_QSoMAL6xrgvNfGZzwYldjKJJrwwdPCAOuBIHGXrHEmXEATez2JBwvDf994KL4QiARggiiY10CCI7pLL5W5dQrYBtmj1LzrOz6MOZw-8r7XDLET_oiNooEh1n0uhRRNz39L0-uXphXJNhinOmI0gpscseyPvjDXF389SE_ewXxQS2kK_UTOQDZMbk-jiiDCixE_KyxItzgykTGj6lLTXog1O6ffld78FN-dcTNFPbtyad6Afmx_NXOfp81JA17h281I8axUyxeJSGu1172gqoLYgGO6vz87dGT9Wl0_4zwjShwigJu6qAW5Cv3_bvwiefBjzhZ26XvsXSPW3EWF2ojn7qbsGOMxYLm4H_o/p.jpeg
                    class="d-block w-100" alt="..." height="200px">
                </div>
              </div>
            </div>
            </main>
            <%- include('../partials/footerHome') %>
    </body>


    </html>
