<%- include('../partials/head') %>
    <link rel="stylesheet" href="/public/css/home.css">

    <body>

        <!-- ------------aquí está contenida la imagen principal-------------- -->
        <section class="ImageContainer">

            <%- include('../partials/header') %>
                <!--imagen de usuario dinámica------------------------------------------------>
                <div class="homeContainerProfile">
                    <div>
                        <input class="menu-profile" type="checkbox" id="menu-profile">
                        <label for="menu-profile">
                            <img class="profile" src="" alt="Perfil usuario">

                    </div>
                    <div>
                        <a href="/login" class="star">INICIAR SESIÓN</a>
                    </div>
                        <ul class="nav">
                            <li>
                                <a href="/products/adminProducts" class="menu-profile__option">EDITAR PRODUCTOS</a>
                            </li>
                            <li>
                                <a href="/userDetail" class="menu-profile__option">PERFIL</a>
                            </li>
                            <li>
                                <a href="/passwordUpdate" class="menu-profile__option">EDITAR CONTRASEÑA</a>
                            </li>
                            <li>
                               <form action="/closeSession" method="POST">
                                <input type="submit" value="Cerrar sesión">
                               </form>

                            </li>
                        </ul>
                            </label>

                </div>
                <div class="image">
                    <nav classs="principal">
                        <ul class="ChooseCollection">
                            <li><a class="collections" href="/products/brandOriginal">TEAL <br> ORIGINAL</a></li>
                            <li><a class="collections" href="/products/aboutUs">TEAL <br> GROUP</a></li>
                            <li><a class="collections" href="/products/brandBasics">TEAL <br> BASICS</a></li>
                        </ul>
                    </nav>
                </div>
        </section>

        <section class="FeaturedProducts">
            <div class="TitleContainer">
                <h2 class="SectionTitle">
                    PRODUCTOS DESTACADOS
                </h2>
            </div>
            <div class="cards">
                <%featuredProducts.forEach(product =>{%>
                    <a class="plink" href="/products/productDetail/<%=product.id %>">
                        <div class="card">
                            <img class="img-icon" src="/images/corazon negro-02.png" alt="icono destacado">
                            <img class="img-card" src="/productImages/<%=product.productImage%>" alt="Prenda Vestir">
                            <div class="description">
                                <p class="price">$<%=product.price%></p>
                                <p class="product"><%=product.name%></p>
                            </div>
                        </div>
                    </a>
            </div>
            <%})%>
        </section>
        <%- include('../partials/footerHome') %>
    </body>


    </html>
