<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <main class="template-create-main">
        <form class="form" action="/products/newProduct" method="POST" enctype="multipart/form-data">
          <h2 class="title">Producto</h2>
          <div class="campo">
            <input class="create_input" accept="image/png.image/jpeg" type="file" id="create_img" name="productImage"
              multiple required /><span class="barra"></span>
            <div class="container-img">
              <img class="create_img-form" src="" alt="icono destacado" id="productImage" name="productImage" />
              <!-- <img
            class="create_img-form"
            src="/images/front.png"
            alt="Prenda Vestir"
          />
          <img
            class="create_img-form"
            src="/images/side.png"
            alt="icono destacado"
          />
          <img
            class="create_img-form"
            src="/images/back.png"
            alt="Prenda Vestir"
          /> -->
            </div>
          </div>

          <div class="campo">
            <input type="text" id="name" name="name" required class="create_input" /><span class="barra"></span>
            <label class="register-label">Nombre del producto</label>
          </div>
          <div class="campo">
            <input type="text" id="price" name="price" required class="create_input" /><span class="barra"></span>
            <label class="register-label">Precio</label>
          </div>
          <div class="campo">
            <input type="text" id="productDescription" name="productDescription" required class="create_input" /><span
              class="barra"></span>
            <label class="register-label">Descripción del producto</label>
          </div>
          <div class="campo">
            <input type="text" id="collection" name="collection" required class="create_input" /><span
              class="barra"></span>
            <label class="register-label">Colección</label>
          </div>
          <div class="campo">
            <input type="text" id="collectionDescription" name="collectionDescription" required
              class="create_input" /><span class="barra"></span>
            <label class="register-label">Descripción de la colección</label>
          </div>
          <div class="campo">
            <select id="brand" name="brand" required class="register_document-select">
              <option>Submarca</option>
              <% brands.forEach(brand=>{ %>
                <option value="<%= brand.dataValues.id %>">
                  <%= brand.dataValues.name %>
                </option>
                <% }) %>
            </select>
          </div>

          <div class="campo">
            <select id="categories" name="categories" class="register_document-select">
              <option>Categoría</option>
              <option value="Unisex">Unisex</option>
              <option value="men">Hombre</option>
              <option value="women">Mujer</option>
            </select>
          </div>
          <section class="size_color_quantity">
            <div class="campo_size">
              <select id="size" name="size" class="register_document-select">
                <option>Talla</option>
                <option value="s">S</option>
                <option value="m">M</option>
                <option value="l">L</option>
                <option value="xl">XL</option>
              </select>
            </div>
            <div class="campo_color">
              <select id="color" name="color" class="register_document-select">
                <option>Color</option>
                <option value="black">Negro</option>
                <option value="white">Blanco</option>
                <option value="other">Otro</option>
              </select>
            </div>
            <div class="campo_quantity">
              <input type="number" id="quantity" name="quantity" class="create_input" /><span class="barra"></span>
              <label class="register-label">Cantidad</label>
            </div>
          </section>
          <div class="checkbox_create">
            <input type="checkbox" name="featured" id="featured" >
            <label for="productoDestacado">Producto destacado</label>
          </div>
          <button class="enter-btn" type="submit" id="enter">Agregar producto</button>
        </form>
      </main>
      <%- include('../partials/footer') %>
  </body>

  </html>
