<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <main class="template-create-main">
        <form class="form" method="POST" action="/products/productEdition/<%= product.id %> ">
          <h2 class="title"><%= product.name %> </h2>
          <div class="campo">
            <input class="create_input" accept="image/png.image/jpeg" type="file" id="productImage" name="productImage"
              multiple /><span class="barra"></span>
            <div class="container-img">
              <img class="create_img-form" src="" alt="icono destacado" />
            </div>
          </div>

          <div class="campo">
            <input type="text" name="name" id="name" class="create_input" value="<%= product.name %>" required minlength="2"/><span
              class="barra"></span>
            <label class="register-label">Nombre del producto</label>
          </div>
          <div class="campo">
            <input type="text" name="price" id="price" required class="create_input" value="<%= product.price %>" /><span
              class="barra"></span>
            <label class="register-label">Precio</label>
          </div>
          <div class="campo">
            <input type="text" id="productDescription" name="productDescription" class="create_input"
              value="<%= product.productDescription %>" minlength="20"/><span class="barra"></span>
            <label class="register-label">Descripción del producto</label>
          </div>
          <div class="campo">
            <input type="text" name="collection" id="collection" required class="create_input"
              value="<%= product.collection %>" /><span class="barra"></span>
            <label class="register-label">Colección</label>
          </div>
          <div class="campo">
            <input type="text" name="collectionDescription" id="collectionDescription" required class="create_input"
              value="<%= product.collectionDescription %>" /><span class="barra"></span>
            <label class="register-label">Descripción de la colección</label>
          </div>
          <div class="campo">
            <select id="brand" name="brand" required class="register_document-select">
              <option>Submarca</option>
              <% brand.forEach(brands=>{ %>
                <option value="<%= brands.dataValues.id %>">
                  <%= brands.dataValues.name %>
                </option>
                <% }) %>
            </select>
          </div>

          <div class="campo">
            <select name="categories" id="categories" class="register_document-select">
              <option>Categoría</option>
              <option value="men">Unisex</option>
              <option value="men">Hombre</option>
              <option value="women">Mujer</option>
            </select>
          </div>
          <section class="size_color_quantity">
            <div class="campo_size">
              <select name="size" id="size" class="register_document-select">
                <option>Talla</option>
                <option value="s">S</option>
                <option value="m">M</option>
                <option value="l">L</option>
                <option value="xl">XL</option>
              </select>
            </div>
            <div class="campo_color">
              <select name="color" id="color" class="register_document-select">
                <option>Color</option>
                <option value="black">Negro</option>
                <option value="white">Blanco</option>
                <option value="other">Otro</option>
              </select>
            </div>
            <div class="campo_quantity">
              <input type="number" name="quantity" id="quantity" class="create_input" value="<%= product.quantity %>" /><span class="barra"></span>
              <label class="register-label"><Cantidad></label>
            </div>
          </section>
          <div class="checkbox_create">
            <input type="checkbox" name="featured" value="on">
              <label for="productoDestacado">Producto destacado</label>
          </div>
          <button class="enter-btn" type="submit" id="enter">Agregar producto</button>
        </form>
      </main>
      <%- include('../partials/footer') %>
  </body>

  </html>
