<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <div class="homeContainerProfile">
        <input class="menu-profile" type="checkbox" id="menu-profile">
        <label for="menu-profile">
          <div>
            <!-- imagen de usuario -->
            <img class="profile" src="/userImages/<%= userImage.userImage %> " alt="userImage">
          </div>
        </label>
        <div>
          <a <% if(userImage.userImage=='empty.png'){ %> href="/login" <% }else{ %> href="/userDetail" <% } %> class="star"><%= userImage.fullName %> </a>
      </div>
        <ul class="nav">
          <li>
            <a href="/userDetail" class="menu-profile__option">PERFIL</a>
          </li>
          <li>
            <a href="/passwordUpdate" class="menu-profile__option">EDITAR CONTRASEÑA</a>
          </li>
          <li>
            <form action="/closeSession" method="POST">
              <input type="submit" value="CERRAR SESIÓN" class="menu-profile__option button-close_session">
            </form>
          </li>
        </ul>
      </div>
      <main>
        <section>
          <form class="passwordUpdateForm" action="/passwordUpdate" method="POST">
            <div class="campo">
              <input type="password" id="password" name="password" class="register_input" /><span class="barra"></span>
              <label class="register-label">Ingrese la contraseña nueva</label>
            </div>
            <div class="campo">
              <input type="password" id="repassword" name="repassword" class="register_input" /><span
                class="barra"></span>
              <label class="register-label">Confirme la contraseña nueva</label>
            </div>
            <button class="save-btn" type="submit">Guardar cambios</button>
          </form>
        </section>
      </main>
      <%- include('../partials/footer') %>
  </body>

  </html>
