<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <main class="register-main">
        <form class="form" action="/register" method="POST" enctype="multipart/form-data">

          <h2 class="title">Crear cuenta</h2>
          <div class="campo">
            <input class="create_input" accept="image/png.image/jpeg" type="file" id="userImage" name="userImage"
              multiple /><span class="barra"></span>
            <div class="container-img">
              <img class="create_img-form" src="/images/user.png" alt="icono destacado" />
            </div>
          </div>
          <% if(locals.errors && errors.userImage) { %>
            <div class="errors">
              <p>
                <%= errors.userImage.msg %>
              </p>
            </div>
            <% } %>
              <div class="campo">
                <input class="register_input" type="text" id="fullName" name="fullName"
                  value="<%= user.fullName ? user.fullName : "" %> " /><span class="barra"></span>
                <label class="register-label">Nombre y apellido</label>
              </div>
              <% if(locals.errors && errors.fullName) { %>
                <div class="errors">
                  <p>
                    <%= errors.fullName.msg %>
                  </p>
                </div>
                <% } %>
                  <div class="campo">
                    <select class="register_document-select" id="documentType" name="documentType">
                      <option value="">Tipo de documento</option>
                      <option value="cedulaCiudadania">Cédula de ciudadanía</option>
                      <option value="cedulaExtrajeria">Cédula de extranjería</option>
                      <option value="pasaporte">Pasaporte</option>
                      <option value="tarjetaIdentidad">Tarjeta de identidad</option>
                    </select>
                  </div>
                  <% if(locals.errors && errors.documentType) { %>
                    <div class="errors">
                      <p>
                        <%= errors.documentType.msg %>
                      </p>
                    </div>
                    <% } %>
                      <div class="campo">
                        <input class="register_input" type="number" id="documentNumber" name="documentNumber"
                          value="" /><span class="barra"></span>
                        <label class="register-label">Documento</label>
                      </div>
                      <% if(locals.errors && errors.documentNumber) { %>
                        <div class="errors">
                          <p>
                            <%= errors.documentNumber.msg %>
                          </p>
                        </div>
                        <% } %>
                          <div class="campo">
                            <input class="register_input" type="email" id="email" name="email" value="" /><span
                              class="barra"></span>
                            <label class="register-label">Correo electronico</label>
                          </div>
                          <% if(locals.errors && errors.email) { %>
                            <div class="errors">
                              <p>
                                <%= errors.email.msg %>
                              </p>
                            </div>
                            <% } %>
                              <div class="campo">
                                <input class="register_input" type="number" id="phoneNumber" name="phoneNumber"
                                  value="" /><span class="barra"></span>
                                <label class="register-label">Telefono</label>
                              </div>
                              <% if(locals.errors && errors.phoneNumber) { %>
                                <div class="errors">
                                  <p>
                                    <%= errors.phoneNumber.msg %>
                                  </p>
                                </div>
                                <% } %>
                                  <div class="campo">
                                    <input class="register_input" type="date" id="dateBirth" name="dateBirth"
                                      value="" />
                                  </div>
                                  <% if(locals.errors && errors.dateBirth) { %>
                                    <div class="errors">
                                      <p>
                                        <%= errors.dateBirth.msg %>
                                      </p>
                                    </div>
                                    <% } %>
                                      <div class="campo">
                                        <input class="register_input" type="password" id="password"
                                          name="password"><span class="barra"></span>
                                        <label class="register-label">Contraseña</label>
                                      </div>
                                      <% if(locals.errors && errors.password) { %>
                                        <div class="errors">
                                          <p>
                                            <%= errors.password.msg %>
                                          </p>
                                        </div>
                                        <% } %>
                                          <button class="enter-btn" type="submit" id="enter">Crear cuenta</button>
                                          <!-- <button class="enter-facebook" type="submit" id="enter">
          Ingresar con Facebook
        </button>
        <button class="enter-google" type="submit" id="enter">
          Ingresar con Google
        </button> -->
        </form>
      </main>
      <%- include('../partials/footer') %>
  </body>

  </html>
